body {
  margin: 30;
  background-color:black;
  background-image: url('../assets/office.png');
  width:100%;
  height:100%; 

  background-size: cover;
  
  
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-gradient {
  background: linear-gradient(90deg, orangeAccent 0%, yellowAccent 50%, orangeAccent 100%);
  border: none; /* you may not need this depending on your overall styles */
}
