




.note{
    height:300px;
    min-with:400px;
    transition: box-shadow .2s ease-in-out;
    cursor:pointer;

}
.note:hover{
    box-shadow: rgba(0,0,0,2) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}


.blockCenter{
    display: block;
    margin-left:auto;
   
}

.flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 4px;
}