




.note{
    height:300px;
    min-with:400px;
    transition: box-shadow .2s ease-in-out;
    cursor:pointer;

}
.note:hover{
    box-shadow: rgba(0,0,0,2) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}


.blockCenter{
    display: block;
    margin-left:auto;
   
}

.flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 4px;
}
.buttonGradient {
    background: linear-gradient(90deg, #FFA500 0%, #FFFF00 50%, #FFA500 100%);
    border: none;
}

.buttonGradient::after {
    content: "";
    color: black;
}

.with100{
    width:100%
}
.buttonGradient {
    background: linear-gradient(90deg, #FFA500 0%, #FFFF00 50%, #FFA500 100%);
    border: none;
    color: black;
}